RewriteEngine On  # Apache Server Config
RewriteRule ^([a-zA-Z0-9/ñÑ-])$ index.php?views=$1 # Con esta regla en el archivo index.php vamos a permitir los caracteres indicados
## Options All -Indexes -> Evitaria que se pueda ver las carpetas del proyecto en el navegador